@global-primary-background:    #1e87f0;
@global-secondary-background:  #222;

@global-success-background:    #32d296;
@global-warning-background:    #faa05a;
@global-danger-background:     #f0506e;

@global-font-family:           -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
@global-font-size:             16px;
@global-line-height:           1.46;

@global-color:                 #666;
@global-link-color:            @global-primary-background;
@global-link-hover-color:      lighten(@global-primary-background, 10%);
